@media screen and (min-width: 768px)

    #head
        .main_header
            .contenedor
                .barra-header
                    margin-top 0.8%
                    margin-left 0%
                    .logo-header
                        margin-top 0%
                        margin-left 15%
                        img
                            width 30%
                            height 40px
                            margin-left 0%
                #resp-menu
                    display none
                label
                    display none
                .menu-header
                    width 70%
                    top 20%
                    right 2%
                    background none
                    transform translateX(0%)
                    .dropdown-menu
                        margin 0 auto
                        margin-top -78px
                    .barra-menu
                        width 100%
                        display block
                        a
                            font-size 1em
                            &:active
                                color gris
                            &:hover
                                border-bottom 1px solid main_color
                            .flecha-down
                                position relative
                                left 1%
                        .dropdown1 
                            width 14%
                            display inline-block
                            vertical-align top 
                            text-align center 
                        .dropdown2 
                            width 14%
                            display inline-block
                            vertical-align top 
                            text-align center 
                        .dropdown3 
                            width 14%
                            display inline-block
                            vertical-align top 
                            text-align center 
                        .opcion
                            width 14%
                            display inline-block
                            vertical-align top 
                            text-align center