.faq-content
	align-items flex-start
	align-content flex-start
	display_flex()
	margin-bottom 4rem
	> .icon
		padding 0
		text-align center
		&.-white > .fa
			color main_color
		&.-cruel_love > .fa
			color cruel_love
		&.-orgasm > .fa
			color orgasm
		&.-infatuation > .fa
			color infatuation
		&.-penis > .fa
			color penis
		&.-afternoon_delight > .fa
			color afternoon_delight
		> .fa
			font-size 3rem
	> .faq
		> .subtitle
			margin 0 auto
			font-size 2.5rem
			line-height 30px
			margin-bottom 2rem
		> .text
			font-size 1.5rem
		> ul
			padding 0 2rem