.main-section
	horizontal_centered_flex()
	padding 2rem 1rem
	&.-padding-sides
		padding 0 1rem
	> .presentation
		@media only screen and (min-device-width: 993px)
			margin-top 100px
			&.-notop
				margin-top 0
	> .gallery-container
		width 100%
	> .videos-container
		max-width 70%