.prev-next-container
	horizontal_centered_flex()
	width 100%
	@media only screen and (min-device-width: 640px)
		justify-content space-around
	@media only screen and (min-device-width: 993px)
		justify-content space-between