.model-data
	margin-top .5rem
	> .name,
	> .location
		font-family Droid
	> .name
		font-size 2.5rem
		margin 0 auto
		text-align left
		text-transform capitalize
	> .location
		color cruel_love
		display block
		font-size 1.5rem
		margin 0 auto 1rem
	> .-inverted
		margin 0 auto
