.banner-content
	text-align center
	transition all .65s
	> .mensaje > .d600,
	> .d300
		color main_color
		text-shadow 1px 1px 4px letras
	> .d300
		font-size 1.5rem
		@media only screen and (min-device-width: 768px)
			font-size 2rem
	> .main-text
		color cruel_love
		font-family Dancing Script
		font-size 6rem
		font-weight bold
		margin 1rem auto
		text-shadow none
	> .default-button
		margin 1rem auto
	&.-left-align
		text-align left
		> .main-text
			font-family Droid
			font-size 2.5rem