letras  = black
main_color  = white

#container
	width 100%
	.error_exito
		border 1px solid letras
		padding 6rem
		margin-bottom 4rem
	#terminos_condiciones
		margin 2% auto
		padding 0
		.politicas
			width 98%
			margin 2% auto
			border-bottom 1px solid letras
		h2
			margin 2% auto
			text-align justify
			font-family Droid
			font-size 25px
			font-size 2.5rem
		h3
			margin 2% auto
			text-align justify
			&:after
				content ""
		p
			font-size 14px
			font-size 1.4rem
			margin 2% auto
		ul
			li
				span
					display block
					font-size 12px
					font-size 1.2rem
					text-align left
					word-wrap break-word
					&:before
						content " - "
@media only screen and (max-device-width: 799px)
	
	#container
		#mensaje
			h2
				font-size 25px
				font-size 2.5rem
			h3
				font-size 20px
				font-size 2rem
		#terminos_condiciones
			.politicas
				width 100%
			h2
				font-size 20px
				font-size 2rem
				text-align center
			h3
				font-size 18px
				font-size 1.8rem
				text-align center
				&:after
					content " - "
			p
				font-size 12px
				font-size 1.2rem
			ul
				li
					span
						font-size 10px
						font-size 1rem
									
@media only screen and (min-device-width: 1441px)

	#container
		#mensaje
			h2
				font-size 40px
				font-size 4rem
			h3
				font-size 32px
				font-size 3.2rem
		#terminos_condiciones
			.politicas
				width 100%
			h2
				font-size 32px
				font-size 3.2rem
			h3
				font-size 25px
				font-size 2.5rem
				&:after
					content " - "
			p
				font-size 18px
				font-size 1.8rem
			ul
				li
					span
						font-size 16px
						font-size 1.6rem
