.active {
  border: 4px solid #fff;
  transition: all 0.2s;
}
.on {
  display: block;
}
.off {
  display: none;
}
video {
  width: 90%;
  height: 10rem;
  margin-left: 10%;
}
.main_wrapper {
  width: 100%;
}
.main_wrapper #sli_modelos {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main_wrapper #sli_modelos #btn-next,
.main_wrapper #sli_modelos #btn-prev {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 65px;
  color: #fff;
  font-size: 60px;
  font-size: 6rem;
  font-family: Droid;
  z-index: 50;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #fff;
}
.main_wrapper #sli_modelos #btn-next:hover,
.main_wrapper #sli_modelos #btn-prev:hover {
  color: #000;
  background: #fff;
  border: 1px solid #000;
  transition: all 0.55s;
}
.main_wrapper #sli_modelos #btn-next {
  right: 26%;
}
.main_wrapper #sli_modelos #btn-prev {
  left: 1%;
}
.main_wrapper #sli_modelos #datos_model {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.main_wrapper #sli_modelos #datos_model .foto_modelo-container {
  height: 100%;
}
.main_wrapper #sli_modelos #datos_model #foto_modelo {
  height: 100%;
  border: 1px solid #000;
  transition: all 1s;
  padding: 0;
  margin-left: 12.5%;
}
.main_wrapper #sli_modelos #datos_model .datos {
  padding: 0;
  height: 100%;
  background: rgba(255,255,255,0.8);
  border: 1px solid #000;
}
.main_wrapper #sli_modelos #datos_model .datos .llamame {
  text-align: center;
  height: auto;
  cursor: pointer;
  margin: 0;
}
.main_wrapper #sli_modelos #datos_model .datos .llamame:hover {
  background: #000;
  transition: all 0.55s;
}
.main_wrapper #sli_modelos #datos_model .datos .llamame:hover a,
.main_wrapper #sli_modelos #datos_model .datos .llamame:hover span {
  color: #fff;
  transition: all 0.55s;
}
.main_wrapper #sli_modelos #datos_model .datos .llamame span,
.main_wrapper #sli_modelos #datos_model .datos .llamame a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  text-shadow: none;
}
.main_wrapper #sli_modelos #datos_model .datos #presentacion {
  border-top: 1px solid #000;
  width: 95%;
  margin: 2% auto;
}
.main_wrapper #sli_modelos #datos_model .datos #presentacion p {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: justify;
}
.main_wrapper #sli_modelos #datos_model .datos #presentacion h2,
.main_wrapper #sli_modelos #datos_model .datos #presentacion h3,
.main_wrapper #sli_modelos #datos_model .datos #presentacion p {
  margin: 1% auto;
}
.main_wrapper #sli_modelos #datos_model .datos #presentacion h2 {
  font-size: 45px;
  font-size: 3.5rem;
}
.main_wrapper #sli_modelos #datos_model .datos #presentacion h3 {
  font-size: 21px;
  font-size: 2.1rem;
}
.main_wrapper #sli_modelos #datos_model .datos #fotos {
  width: 95%;
  margin: 2% auto;
  border-top: 1px solid #000;
  text-align: center;
}
.main_wrapper #sli_modelos #datos_model .datos #fotos img {
  margin-top: 2%;
  width: 80px;
  height: 80px;
  padding: 5px 5px;
  display: inline-block;
}
.main_wrapper #sli_modelos #datos_model .datos #fotos img:hover {
  opacity: 0.6;
  transition: all 0.55s;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-menu {
  background: #fff;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-menu li p {
  width: 90%;
  margin: auto;
  text-align: justify;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-menu li div {
  text-align: center;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-menu li strong {
  text-align: justify;
  margin-left: 2%;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-menu li span {
  margin-left: 2%;
  cursor: pointer;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-menu li a {
  color: #000;
  font-weight: bold;
  background: none;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-menu li a:hover {
  background: #000;
  color: #fff;
  transition: all 0.55s;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-toggle {
  display: block;
  width: 100%;
  border-radius: 0;
  color: #000;
  background: none;
  text-transform: uppercase;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-toggle:hover {
  background: #fff;
  border-bottom: 1px solid #000;
  color: #000;
  transition: all 0.55s;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-toggle:hover span {
  color: #000;
  transition: all 0.55s;
}
.main_wrapper #sli_modelos #datos_model .datos .dropdown-toggle span {
  position: absolute;
  right: 20px;
}
.main_wrapper #sli_modelos #datos_model .datos #model_filtro_dat {
  width: 100%;
}
.main_wrapper #sli_modelos #datos_model .datos #model_filtro_dat .dropdown {
  padding: 0;
  margin: 0;
  width: 100%;
}
.main_wrapper #sli_modelos #datos_model .datos #model_filtro_dat .llama {
  text-align: center;
}
.main_wrapper #sli_modelos #datos_model .datos #model_filtro_dat .row strong {
  color: #000;
  display: block;
  margin-left: 10%;
}
.main_wrapper #sli_modelos #datos_model .datos #model_filtro_dat .row div {
  color: #000;
}
.main_wrapper #sli_modelos #datos_model .datos #model_filtro_dat .row i {
  margin-right: 2%;
}
.main_wrapper #sli_modelos #datos_model .datos #model_filtro_dat li {
  display: block;
  width: 100%;
}
.main_wrapper #sli_modelos #datos_model .datos #model_filtro_dat li ul {
  width: 100%;
li
}
.main_wrapper #sli_modelos #min_modelos::-webkit-scrollbar {
  width: 0px;
  background: none;
}
.main_wrapper #sli_modelos #min_modelos {
  width: 60%;
  height: 150px;
  left: 7.5%;
  position: absolute;
  bottom: 10px;
  background: rgba(0,0,0,0.8);
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  opacity: 0;
  transition: all 1s;
}
.main_wrapper #sli_modelos #min_modelos:hover {
  opacity: 1;
}
.main_wrapper #sli_modelos #min_modelos img {
  display: block;
  margin: 1.5% auto;
  margin-left: 1.5%;
  width: 15%;
  height: 85%;
  opacity: 0.6;
}
.main_wrapper #sli_modelos #min_modelos img:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.55s;
}
@media only screen and (max-device-width: 990px) {
  .main_wrapper #sli_modelos {
    height: auto;
  }
  .main_wrapper #sli_modelos #btn-next,
  .main_wrapper #sli_modelos #btn-prev {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-size: 2rem;
    top: 50vh;
  }
  .main_wrapper #sli_modelos #btn-next {
    right: 1%;
  }
  .main_wrapper #sli_modelos #datos_model {
    width: 100%;
    height: auto;
  }
  .main_wrapper #sli_modelos #datos_model #foto_modelo {
    height: 100vh;
  }
  .main_wrapper #sli_modelos #datos_model .datos #presentacion h2 {
    font-size: 35px;
    font-size: 3.5rem;
  }
  .main_wrapper #sli_modelos #datos_model .datos #presentacion h3 {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .main_wrapper #sli_modelos #min_modelos {
    width: 95%;
    left: 2.5%;
    top: 75vh;
    height: 22vh;
  }
}
@media only screen and (min-device-width: 1441px) {
  .main_wrapper #sli_modelos #datos_model .datos .llamame span,
  .main_wrapper #sli_modelos #datos_model .datos .llamame a {
    font-size: 30px;
    font-size: 3rem;
  }
  .main_wrapper #sli_modelos #datos_model .datos #presentacion p {
    font-size: 20px;
    font-size: 2rem;
  }
  .main_wrapper #sli_modelos #datos_model .datos #presentacion h2 {
    font-size: 50px;
    font-size: 5rem;
  }
  .main_wrapper #sli_modelos #datos_model .datos #presentacion h3 {
    font-size: 25px;
    font-size: 2.5rem;
  }
  .main_wrapper #sli_modelos #datos_model .datos #fotos {
    width: 95%;
    margin: 2% auto;
    border-top: 1px solid #000;
    text-align: center;
  }
  .main_wrapper #sli_modelos #datos_model .datos #fotos img {
    width: 120px;
    height: 120px;
  }
  .main_wrapper #sli_modelos #datos_model .datos #model_filtro_dat .dropdown a {
    font-size: 20px;
    font-size: 2rem;
  }
  .main_wrapper #sli_modelos #min_modelos {
    height: 180px;
    bottom: 20px;
  }
}
