display_flex()
	display flex
	flex-wrap wrap

horizontal_centered_flex()
	display_flex()
	justify-content center

vertical_centered_flex()
	align-items center
	align-content center
	display_flex()

full_centered_flex()
	align-items center
	align-content center
	display_flex()
	justify-content center

around_flex()
	display_flex()
	justify-content space-around

around_centered_flex()
	vertical_centered_flex()
	justify-content space-around